
main {
    padding: 20px;
}

div#calendar {
    margin: 10px;
}

.fc .fc-toolbar-title {
    color: black;
}

.fc .fc-view-harness {
    background-color: white;
}

.fc .fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    color: #66b0ff;
}