body {
    --main-color: #50b7f5;
    --secondary-color: #f2f2f2;
    --border-color: #cccccc67;
    --font-color: black;
}

.contact-book-body {
    border-right: 1px solid var(--border-color);
}

 .contact-book-body .left {
    border-right: 1px solid var(--border-color);
}

.contact-book-body .right {
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid var(--border-color);
}

.header i {
    color: var(--border-color);
}

.fa-plus {
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.fa-plus:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.AddContact {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    visibility: hidden;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.AddContact .head {
    border-bottom: 1px solid var(--border-color);
}

.AddContact form {
    border-radius: 15px;
}

.formOption input, .formOption textarea {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.contact-selector {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 32%;
}

.contact-selector:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.contact-selector img {
    width: 15%;
    height: 80% !important;
    border-radius: 50%;
}

.name_job p {
    color: #777;
}

.Contact-image img {
    width: 15%;
}


.right .email, .right .phone-num {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.note textarea {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {

    .contact-book-body .AddContact {
        width: 90% !important;
        padding: 0.5rem !important;
    }

    .contact-book-body .AddContact .head {
        padding: 0.2rem !important;
    }

    .contact-book-body .AddContact .head h3 {
        font-size: 1rem !important;
    }

    .contact-book-body .AddContact .head i {
        font-size: 1.5rem !important;
    }

    .contact-book-body .AddContact .formOption {
        padding: 0rem !important;
    }

    .AddContact .formOption input, .AddContact .formOption textarea {
        width: 100% !important;
    }

    .contact-book-body .AddContact .formOption textarea {
        height: 70px !important;
    }

    .contact-book-body .AddContact .btn {
        padding: 5px !important;
    }

    .contact-book-body .AddContact .formOption label {
        font-size: 0.8rem !important;
    }

    .contact-book-body .left {
        height: auto !important;
    }

    .contact-book-body .right .email, .right .phone-num {
        width: 100% !important;
    }
    .contact-book-body .right .email i, .right .phone-num i{
        font-size: 1rem !important;
    }
    .contact-book-body .right .email h3, .right .phone-num h3{
        font-size: 1rem !important;
    }
    .contact-book-body .right h1,.right h2, .right h3 {
        font-size: 1.3rem !important;
    }

    .contact-book-body .right p {
        font-size: 0.8rem !important;
    }

    .right .note textarea {
        width: 100% !important;
    }

    .left .contact-selector {
        padding: 0.1rem !important;
    }

    .left .contact-selector img {
        width: 20% !important;
    }

    .left .contact-selector h3 {
        font-size: 1.2rem !important;
    }

    .contact-selector:hover {
        background-color: var(--main-color);
        color: var(--secondary-color);
    }
}