<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/about-us.css">
    <title>About US - FamilyHub Creators</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light pt-2 pb-2">
        <div class="container">
        <a class="navbar-brand" href="#intro">
            <span class="text-primary  fw-bold logo">Family<span class="hub-span">Hub</span></span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item d-none d-md-inline ms-5">
                <a class="btn btn-link" href="#">LOGIN</a>
            </li>
            <li class="nav-item d-none d-md-inline ms-5">
                <a class="btn btn-primary" href="#">SIGN UP</a>
            </li>

            </ul>
        </div>
        </div>
    </nav>

    <div class="about-us">
        <div class="about-header">
            <div class="overlay">
                <div class="text">
                    <h1>About Us</h1>
                    <p> Our journey began with a belief in family bonds, recognizing them as a fundamental aspect that deserves attention.
                        Nowadays, social media is making it harder for families to stay close. Thus, our primary objective is to counteract this negative influence by establishing a platform designed for families.
                        that aims to provide a space where family members can share their interests, activities, and memories,
                        fostering a deeper connection among family members.
                        </p>
                </div>
            </div>
        </div>
    
        <div class="whoWeAre">
            <div class="text">
            <h1>Who We Are</h1>
            <h2>SKY</h2>
        </div>
            <div class="content">
                <div class="heros salma">
                    <img src="./imgs/salma.png" class="w-75 mb-4 h-75" alt="">
                    <p class="p-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro doloribus tenetur, mollitia odio pariatur, labore amet cumque cum ipsum consequatur id quo veritatis accusantium. Animi quod adipisci necessitatibus exercitationem aut? </p>
                    <div class="contact">
                        <a target="_blank" href="https://github.com/Sallmahussien"><i class="fa-brands fa-github"></i></a>
                        <a target="_blank" href="https://twitter.com/Sallmaahussien"><i class="fa-brands fa-x-twitter"></i></a>
                        <a target="_blank" href="https://wa.me/qr/L2PRO6BXP4ITF1"><i class="fa-brands fa-whatsapp"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/salma-ahmed-a13706218/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="heros kholoud">
                    <img src="./imgs/kholoud.png" class="w-75 mb-4 h-75" alt="">
                    <p class="p-2">This is my first full stack project during ALX, and second one since starting this amazing feild, Wish to become a great programer someday and achieve more and more amazing projects :) wish to have a great company as usual for my upcoming projects too!</p>
                    <div class="contact">
                        <a target="_blank" href="https://github.com/Kholoudxs55kh"><i class="fa-brands fa-github"></i></a>
                        <a target="_blank" href="https://twitter.com/Kholoudxs55kh"><i class="fa-brands fa-x-twitter"></i></a>
                        <a target="_blank" href=" https://wa.me/qr/J5TJJWPBOQH6J1"><i class="fa-brands fa-whatsapp"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/kholoudxs55kh/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="heros youssef">
                    <img src="./imgs/youssef.png" class="w-75 mb-4 h-75" alt="">
                    <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ducimus voluptates at, eligendi veniam consequatur dignissimos iste necessitatibus ipsa laudantium. Dignissimos aut perspiciatis itaque temporibus ullam dolores quia velit dolore.</p>
                    <div class="contact">
                        <a target="_blank" href="https://github.com/youssef-ahmmed"><i class="fa-brands fa-github"></i></a>
                        <a target="_blank" href="https://twitter.com/jooahmmed"><i class="fa-brands fa-x-twitter"></i></a>
                        <a target="_blank" href="https://wa.me/qr/776KXJKGXX7GJ1"><i class="fa-brands fa-whatsapp wt"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/youssef-ahmmed29/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>

    <footer>
        <p> &copy; reserved : ALX final project for Foundations</p>
    </footer>


    <script src="https://kit.fontawesome.com/0bd5a450b1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>
</html>