<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <link rel="stylesheet" href="/styles/shared.css">
  <link rel="stylesheet" href="/styles/aside.css">

  <link rel="stylesheet" href="/styles/gallery.css">
  <title>Gallery</title>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid ">

      <div class="logo-container col-md-2 d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-none d-sm-block" href="/home">
          <span class="text-primary logo"> <span class="firstLetter">F</span>amily<span
              class="hub-span">Hub</span></span>
        </a>

        <div class="d-sm-none">
          <button class="btn btn-outline-light" id="toggleSidebar">
            <span class="navbar-toggler-icon" style="color: white;"></span>
          </button>
        </div>
      </div>

      <div class="circle-name col-md-10 text-center" id="circleName">

      </div>

    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">

      <aside class="col-sm-12 col-md-2 d-none d-sm-block" id="sidebar">
        <div class="profile-container">
          <img class="cover-photo" id="circleCoverPic" src="/imgs/cover.png" alt="Cover Photo">

          <div class="name-container">
            <img class="profile-photo" src="/imgs/profilePhoto.png" alt="Profile Photo" id="userMainPhoto">

            <h2 id='userFName'></h2>
          </div>
        </div>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <i class="fas fa-chart-line"></i> Activity
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lists">
              <i class="fas fa-list"></i> Lists
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar">
              <i class="fas fa-calendar-alt"></i> Calendar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/gallery">
              <i class="fas fa-images"></i> Gallery
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts-book">
              <i class="fas fa-address-book"></i> Contact Book
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">
              <i class="fas fa-cogs"></i> Settings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/auth/logout">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </li>
        </ul>

      </aside>

      <main class="col-12 col-md-10">
        <div class="container" id="main-gallery">

          <div class="gallery-cover"></div>
 
          <div id="imgModal">
            <span id="closeModal" onclick="closeModal()">&times;</span>
            <div id="modalContent">
              <img id="modalImage" src="" alt="Modal Image" onclick="nextImage()">
              <div class="slider-controls">
                <button class="control-button" onclick="prevImage()"><i class="fa-solid fa-less-than"></i></button>
                <button class="control-button" onclick="nextImage()"><i class="fa-solid fa-greater-than"></i></button>
              </div>
            </div>
          </div>

        </div>

      </main>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/aside.js"></script>
  <script src="/scripts/gallery.js"></script>
</body>

</html>