<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="./styles/shared.css">
    <link rel="stylesheet" href="./styles/aside.css">
    <link rel="stylesheet" href="./styles/lists.css">
    <title>Lists</title>
</head>

<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">

            <div class="logo-container col-md-2 d-flex justify-content-between align-items-center">
                <a class="navbar-brand d-none d-sm-block" href="#intro">
                    <span class="text-primary logo"> <span class="firstLetter" >F</span>amily<span class="hub-span">Hub</span></span>
                </a>

                <div class="d-sm-none">
                    <button class="btn btn-outline-light" id="toggleSidebar">
                        <span class="navbar-toggler-icon" style="color: white;"></span>
                    </button>
                </div>
            </div>

            <div class="circle-name col-md-10 text-center">
                my-circle
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <aside class="col-12 col-md-2 d-none d-sm-block sticky-top" id="sidebar">
                <div class="profile-container">
                    <img class="cover-photo" src="./imgs/cover.png" alt="Cover Photo">

                    <div class="name-container">
                        <img class="profile-photo" src="./imgs/profilePhoto.png" alt="Profile Photo">
                        <h2>Salma</h2>
                    </div>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-chart-line"></i> Activity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fas fa-list"></i> Lists
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-calendar-alt"></i> Calendar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-images"></i> Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-address-book"></i> Contact Book
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-cogs"></i> Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>


            </aside>

            <main class="col-12 col-md-10">
                <div class="row">

                    <div class="lists col-12 col-md-4" id="lists">
                        <div class="title">
                            <h2>Lists</h2>
                            <span>2 Lists</span>
                        </div>

                        <div class="lists-container d-flex flex-column gap-4" id="listsContainer">
                            <div class="list-box d-flex align-items-center justify-content-between"
                                onclick="handleListBoxClick(this)" id="k1234">
                                <i class="fa-solid fa-list"></i>
                                <div class="text">
                                    <p>To-do List</p>
                                    <span>Shared With All Members</span>
                                </div>
                                <span class="list-items-num">3</span>
                            </div>
                        </div>

                        <button id="addListBtn">
                            <i class="fa-solid fa-plus"></i>
                        </button>

                    </div>

                    <div class="list-items col-12 col-md-8  d-none d-sm-block" id="listItems" list-id="k1234">
                        <div class="title d-flex align-items-center gap-2 ">
                            <i class="fa-solid fa-arrow-left d-block d-sm-none" id="backBtn"></i>
                            <h2 class="list-name flex-grow-1" id="listTitle"></h2>
                            <i class="fa-solid fa-ellipsis-vertical" id="ellipsisIcon"></i>

                            <div class="list-modal-edit-delete" id="editDeleteList">
                                <div class="modal-content">
                                    <div class="edit d-flex align-items-center gap-2 mb-2" id="editListButton">
                                        <i class="fa-solid fa-pen"></i>
                                        <span>Edit</span>
                                    </div>
                                    <div class="delete d-flex align-items-center gap-2" id="deleteListButton">
                                        <i class="fa-solid fa-trash"></i>
                                        <span>Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="" id="listForm">
                            <input type="text" class="list-item-input" id="listItemInput" placeholder="I want to...">
                            <span id="listItemErrMsg">This field is required</span>
                            <div class="list-items-box" id="listItemsBox">
                            </div>

                            <div class="free-list" id="freeList">
                                <img src="imgs/ic_empty_list_todo.svg" alt="">
                                <h2>Free as a bird!</h2>
                                <p>Tap on field above to create and assign a new task and get things done</p>
                            </div>

                        </form>

                    </div>

                </div>
            </main>

            <div class="modal-container" id="modalContainer">
                <div id="createEditModal" class="modal">
                    <h2 id="modalTitle"></h2>
                    <form action="">
                        <label for="listName" id="labelListName"></label>
                        <input type="text" id="listName" />
                        <span id="errMsg">This feild is required</span>
                        <button type="button" id="modalSubmit">Submit</button>
                    </form>
                </div>
                <div id="deleteModal" class="modal">
                    <p id="deleteMsg">Do you really want to delete this list?<br /> all items will be definitly deleted.
                    </p>
                    <button type="button" id="confirmDelete">Yes</button>
                    <button type="button" id="cancelDelete">No</button>
                </div>
                <span id="closeModal" onclick="closeModal()">&times;</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./scripts/aside.js"></script>
    <script src="./scripts/lists.js"></script>

</body>

</html>