<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/aside.css">
    <link rel="stylesheet" href="/styles/settings.css">
    
    <title>Settings</title>
</head>

<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid ">
    
            <div class="logo-container col-md-2 d-flex justify-content-between align-items-center">
                <a class="navbar-brand d-none d-sm-block" href="/home">
                    <span class="text-primary logo"> <span class="firstLetter" >F</span>amily<span class="hub-span">Hub</span></span>
                </a>
    
                <div class="d-sm-none">
                    <button class="btn btn-outline-light" id="toggleSidebar">
                        <span class="navbar-toggler-icon" style="color: white;"></span>
                    </button>
                </div>
            </div>
    
            <div class="circle-name col-md-10 text-center" id="circleName">
                
            </div>
    
        </div>
    </nav>
    

    <div class="container-fluid">
        <div class="row">

            <aside class="col-sm-12 col-md-2 d-none d-sm-block sticky-top" id="sidebar">
                <div class="profile-container">
                    <img class="cover-photo" id="circleCoverPic" src="/imgs/cover.png" alt="Cover Photo">

                        <div class="name-container">
                            <img class="profile-photo" src="/imgs/profilePhoto.png" alt="Profile Photo" id="userMainPhoto">

                            <h2 id='userFName'></h2>
                        </div>
                    </div>


                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <i class="fas fa-chart-line"></i> Activity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lists">
                            <i class="fas fa-list"></i> Lists
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar">
                            <i class="fas fa-calendar-alt"></i> Calendar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">
                            <i class="fas fa-images"></i> Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts-book">
                            <i class="fas fa-address-book"></i> Contact Book
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">
                            <i class="fas fa-cogs"></i> Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/api/v1/auth/logout">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>


            </aside>

            <main class="col-md-10 container-fluid">
                <div class="h-100 settings-body d-flex row p-2">
                    <div class="left h-100 col-md-4 bg-light d-flex flex-column p-3">
                        <div class="main_set d-flex flex-column h-100 ">
                            <div class="Prefrences d-flex justify-content-center h-25">
                                <h1 class="my-auto fs-1 fw-bold">Prefrences</h1>
                            </div>
                            
                            <div class="privacy justify-content-center h-25">
                                <h1 class="my-auto fs-1">Privacy and Security</h1>
                            </div>
        
                            <div class="info d-flex justify-content-center h-25">
                                <h1 class="my-auto fs-1" >Circle Info</h1>
                            </div>
        
                            <div class="members d-flex justify-content-center h-25">
                                <h1 class="my-auto fs-1">Family Members</h1>
                            </div>
                        </div>
                    </div>
                


                    <div class="right h-100 col-md-8 p-3 d-flex flex-column gap-3">
                        
                        
                        <div class="privacy_view m-5 flex-column justify-content-center gap-5">
                            <div class="privacy_header d-flex flex-column gap-1 ">
                                <h1 class="fs-1 fw-bold">Security & Privacy</h1>
                                <p class="fs-6">feel free to manage your FamilyHub account</p>
                            </div>


                            <!-- form for email changing -->
                            <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" onclick="closeChangeEmailModal()">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="changeEmailForm">
                                                <label for="newEmail">New Email:</label>
                                                <input type="email" class="form-control" id="newEmail" required>
                                                <span id="errorSpan" style="color: red;"></span>
                                                <br>
                                                <button type="button" class="btn btn-dark mt-3 w-25" onclick="changeUserEmail()">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="email_control d-flex flex-column gap-2">
                                <h3 class="fs-2 fw-bold ">Email Identifier</h3>
                                <h2 class="fs-4 ms-2" id="userEmail" > {user.email} </h2>
                                <button type="button" class="btn btn-primary p-1 border-0" onclick="openChangeEmailModal()">Change</button>
                                <span></span>
                            </div>

                            <!-- // form for profilePhoto changing -->
                            <div class="profilePic_control d-flex flex-column gap-2">
                                <h3 class="fs-2 fw-bold ">Profile Picture</h3>
                                <img class="fs-4 ms-2" id="userPhoto" style="width: 250px;" src="">
                                <input type="file" name="profilePhoto" id="profilePhoto">
                                <button type="button" id="changeUserPhoto" class="btn btn-primary p-1 border-0 w-25" onclick="changeProfilePic()">Change Photo</button>
                                <span></span>
                            </div>

        
                            <div class="password_control d-flex flex-column gap-4">
                                <div class="pass_head d-flex flex-column gap-1">
                                    <h3 class="fs-2 fw-bold ">Password</h3>
                                    <p class="fs-6">Strong Password is your best way to be safe</p>
                            
                                </div>
        
                                <form action="" class="d-flex flex-column gap-4">
                                    <div class="option_form d-flex flex-column gap-2">
                                        <label class="fs-5" for="currPass">Current Password</label>
                                        <input class="h-75 p-2 w-50" type="password" name="password" id="password" placeholder="Enter your current password">
                                    </div>
                                    <span id="currPasswordError" style="color: red;"></span>
                                
                                    <div class="option_form d-flex flex-column gap-2">
                                        <label class="fs-5" for="newPass">New Password</label>
                                        <input class="h-75 p-2 w-50" type="password" name="newPassword" id="newPassword" placeholder="Enter the new password">
                                    </div>
                                    <span id="newPasswordError" style="color: red;"></span>
                                
                                    <button type="button" class="btn btn-primary p-1 border-0 " onclick="changeUserPassword()">Save</button>
                                </form>
        
                            </div>
                        </div>
        
                        <div class="info_view justify-content-center flex-column gap-5 m-4">
                            <div class="info_header">
                                <h1 class="fs-1 fw-bold">Manage Circle</h1>
                            </div>
        
                            <div class="circle-name d-flex justify-content-between ">
                                <h2 class="fs-4">Circle Name</h2>
                                <form action="">
                                    <input class="w-75" type="text" name="circleName" id="circleNameInput" placeholder="{ Circle.name }">
                                </form>
                                <span></span>
                            </div>
        
                            <div class="circle-cover d-flex flex-column gap-4">
                                <h2 class="fs-4">Cover Photo</h2>
                                <div class="cover_photo">
                                    <img src="" alt="" style="width: 250px;" id="circleCoverPhoto">
                                </div>
                                <span></span>
                                <input type="file" class="mt-5 pt-5"  name="cover" id="coverPhoto">
                                <button type="button" class="btn btn-primary p-1 mt-5 border-0" onclick="changeCircleInfo()" >save</button>
                            </div>
                        </div>



                        <div class="members_view flex-column justify-content-center m-4 gap-5">
                            <div class="member_header">
                                <h1 class="fs-1 fw-bold">Family Members</h1>
                            </div>
                        
                            <div class="members d-flex gap-2 flex-column" id="membersContainer">
                                <!-- added by js -->
                            </div>
                        
                            <div class="invite_member d-flex gap-2 flex-column">
                                <h2 class="fs-4">Invite Member</h2>
                                <div class="d-flex gap-2">
                                    <input type="email" class="form-control w-50" id="inviteEmail" placeholder="Enter email">
                                    <button type="button" class="btn btn-primary p-1 border-0" onclick="sendInvitation()">Send Invitation</button>
                                </div>
                                <span></span>
                            </div>
                        </div>
                        </div>
            
                    </div>


                </div>
            </main>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/settings.js"></script>
    <script src="/scripts/aside.js"></script>
    <script src="/scripts/shared.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>

</html>