body {
    background-color: #f2f2f2;
}

.auth {
    background-color: white;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .5px solid #9999994b;
    border-radius: 15px 15px 100px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 992px) {
    .auth {
        width: 85%;
        padding: 0 !important;
        border-radius: 15px;
    }

    .auth .m-5 {
        margin: 15px !important;
    }

    form .d-flex {
        flex-direction: column;
    }
}

h1 {
    color: #007bff;
}

.main-text p {
    color: #777;
}

.col-md-5 {
    padding: 0px !important;
}


.form-input {
    display: flex;
    flex-direction: column;
}

.form-input input,
.form-input textarea {
    width: 60%;
    border: 1px solid #6C95C7 !important;
    background-color: #fff !important;
    color: #6C95C7 !important;
    font-size: 14px !important;
    width: 100% !important;
    outline: none !important;
    transition: all 0.3s ease-in-out !important;
}

.form-group span {
    font-size: 13px;
    color: rgba(255, 0, 0, 0.8);
    ;
    display: block;
    margin-top: -15px;
}