body {
    --main-color: #66b0ff;
    --secondary-color: #f2f2f2;
    --border-color: #cccccc67;
    --font-color: #777;
}

.contact-book-body .contacts-book {
    border-right: 1px solid var(--border-color);
    position: relative;
}

.contact-book-body .contacts-book .header {
    border-bottom: 1px solid var(--border-color);
}

.contact-book-body .contacts-book .header h2 {
    font-size: 35px;
}

.contact-book-body .contacts-book .header i {
    color: var(--main-color);
}

.contact-selector {
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

.contact-selector .name p {
    margin-bottom: 0;
    font-weight: 700;
}

.contact-selector span {
    display: block;
    color: var(--font-color);
    font-size: 13px;
    margin-top: -5px;
}

.contact-selector:hover,
.clicked {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
}

.contact-selector:hover span,
.clicked span {
    color: white;
}

.contact-selector img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.contacts-book button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #66b0ff;
    border: none;
    outline: none;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.contact-book-body .contact-book-details {
    min-height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
}

.contact-book-details .main-header {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
}

.contact-book-details .main-header #backBtn {
    color: #505050;
    cursor: pointer;
}

.contact-book-details .main-header .name_job h2 {
    font-size: 35px;
    margin: 0;
}

.contact-book-details .main-header .name_job span {
    font-size: 13px;
    color: var(--font-color);
    display: block;
    margin-top: -5px;
}

.contact-book-details .main-header .fa-ellipsis-vertical {
    cursor: pointer;
}

.contact-image img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.contact-book-details .contact-details h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.contact-book-details .email,
.contact-book-details .phone-num {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.contact-book-details .email h3,
.contact-book-details .phone-num h3 {
    font-weight: 600;
}

.contact-book-details .email span,
.contact-book-details .phone-num span {
    font-size: 14px;
    color: var(--font-color);
}

.note h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.note textarea {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 120px;
}

.note textarea:focus {
    outline: none;
}

.contact-book-details .free-contact-book {
    height: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.contact-book-details .free-contact-book img {
    width: 120px;
    height: 120px;
}

.contact-book-details .free-contact-book h2 {
    margin: 0;
    font-weight: 900;
}

.contact-book-details .free-contact-book p {
    color: #777;
    text-align: center;
    font-size: 16px;
}

.modal-container {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1150;
}

.modal {
    width: 40%;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .modal {
        width: 80%;
    }
}

.modal h2 {
    font-size: 25px;
}

.modal input,
.modal textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.modal input:focus,
.modal textarea:focus {
    outline: none;
}

.modal .formOption span {
    color: rgba(255, 0, 0, 0.7);
    font-size: 14px;
    display: block;
    margin-top: -5px;
}

.modal button {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #66b0ff;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 13px;

}

.edit-delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 25;
}

.edit-delete-modal .modal-content {
    width: fit-content;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 129px;
}

.edit-delete-modal .modal-content .edit,
.edit-delete-modal .modal-content .delete {
    cursor: pointer;
}

.edit-delete-modal .modal-content .delete {
    color: rgba(255, 0, 0, 0.7);
    ;
}

#deleteModal p {
    text-align: center;
    margin: 0;
    font-weight: 700;
}

#deleteModal #confirmDelete {
    background-color: rgba(255, 0, 0, 0.7);
}

#deleteModal #cancelDelete {
    background-color: #d9d9d9;
}

#closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {

    .contact-book-body .AddContact {
        width: 90% !important;
        padding: 0.5rem !important;
    }

    .contact-book-body .AddContact .head {
        padding: 0.2rem !important;
    }

    .contact-book-body .AddContact .head h3 {
        font-size: 1rem !important;
    }

    .contact-book-body .AddContact .head i {
        font-size: 1.5rem !important;
    }

    .contact-book-body .AddContact .formOption {
        padding: 0rem !important;
    }

    .AddContact .formOption input,
    .AddContact .formOption textarea {
        width: 100% !important;
    }

    .contact-book-body .AddContact .formOption textarea {
        height: 70px !important;
    }

    .contact-book-body .AddContact .btn {
        padding: 5px !important;
    }

    .contact-book-body .AddContact .formOption label {
        font-size: 0.8rem !important;
    }

    .contact-book-body .contacts-book {
        height: auto !important;
    }

    .contact-book-body .contact-book-details .email,
    .contact-book-details .phone-num {
        width: 100% !important;
    }

    .contact-book-body .contact-book-details .email i,
    .contact-book-details .phone-num i {
        font-size: 1rem !important;
    }

    .contact-book-body .contact-book-details .email h3,
    .contact-book-details .phone-num h3 {
        font-size: 1rem !important;
    }

    .contact-book-body .contact-book-details h1,
    .contact-book-details h2,
    .contact-book-details h3 {
        font-size: 1.3rem !important;
    }

    .contact-book-body .contact-book-details p {
        font-size: 0.8rem !important;
    }

    .contact-book-details .note textarea {
        width: 100% !important;
    }

    .contacts-book .contact-selector h3 {
        font-size: 1.2rem !important;
    }

    .contact-image {
        justify-content: center !important;
    }
}