main .row {
    height: 100%;
    background-color: white;
}

.lists {
    padding: 25px;
    border-right: 1px solid #d9d9d9;
    position: relative;
    overflow: overlay;
}

.lists .title {
    margin: 15px 0;
}

.lists .title h2 {
    font-size: 35px;
}

.lists .title span {
    color: #777;
    font-size: 14px;
    margin-top: -13px;
    display: block;
}

.lists button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #66b0ff;
    border: none;
    outline: none;
    position: absolute;
    top: 640px;
    right: 10px;
}

.lists .list-box {
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
}

.lists .list-box i {
    font-size: 18px;
    margin-right: 18px;
    color: #66b0ff;
}

.lists .list-box .text {
    flex: 1;
}

.lists .list-box .text p {
    margin-bottom: 0;
    font-weight: 700;
}

.lists .list-box .text span {
    display: block;
    margin-top: -5px;
    color: #777;
    font-size: 13px;
}

.lists .list-box .list-items-num {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9d9d9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lists .clicked {
    background-color: #66b0ff;
    color: white;
}

.lists .clicked i,
.lists .clicked .text span {
    color: white;
}

.list-items {
    padding: 25px;
    position: relative;
}

.list-items .title {
    margin: 15px 0 10px;
}

.list-items .title i {
    color: #505050;
    cursor: pointer;
}

.list-items .title h2 {
    margin: 0;
}

.list-items .list-item-input {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.list-items .list-item-input:focus {
    outline: none;
}

.list-items #listItemErrMsg {
    color: rgba(255, 0, 0, 0.7);
    font-size: 13px;
}

.list-items .free-list {
    max-width: 280px;
    margin: 50px auto 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.list-items .free-list img {
    width: 120px;
    height: 120px;
}

.list-items .free-list h2 {
    margin: 0;
    font-weight: 900;
}

.list-items .free-list p {
    color: #777;
    text-align: center;
    font-size: 16px;
}

.list-items .list-items-box {
    margin-top: 15px;
}


.list-items .list-item {
    margin-bottom: 10px;
}

.list-items .list-item i {
    color: #d9d9d9;
    display: none;
}

.list-items .list-item:hover i {
    display: block;
    cursor: pointer;
}

.free-list-items {
    display: none;
}

.free-list-items h2,
.free-list-items p {
    margin: 0;
}

.free-list-items h2 {
    font-weight: 900;
}

.free-list-items p {
    color: #777;
    font-size: 16px;
}

.modal-container {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1150;
}

.modal {
    width: 40%;
    height: 250px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .modal {
        width: 80%;
    }
}

.modal h2 {
    font-size: 25px;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.modal #errMsg {
    font-size: 13px;
    color: rgba(255, 0, 0, 0.7);
    margin-top: -8px;
    display: block;
}

.modal button {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #66b0ff;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 13px;

}

#deleteModal p {
    text-align: center;
    margin: 0;
    font-weight: 700;
}

#deleteModal #confirmDelete {
    background-color: rgba(255, 0, 0, 0.7);
}

#deleteModal #cancelDelete {
    background-color: #d9d9d9;
}

#closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.list-modal-edit-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 25;
}

.list-modal-edit-delete .modal-content {
    width: fit-content;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 133px;
}

.list-modal-edit-delete .modal-content .delete,
.list-modal-edit-delete .modal-content .delete i {
    color: rgba(255, 0, 0, 0.7);
}

#deleteListButton,
#editListButton,
#ellipsisIcon {
    cursor: pointer;
}